body {
    width: 10rem;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
}

.logo {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25.5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19.5px;
    width: 19.5px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(19.5px);
    -ms-transform: translateX(19.5px);
    transform: translateX(19.5px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 25.5px;
}

.slider.round:before {
    border-radius: 50%;
}

.disabled-toggle {
    opacity: 0.5;
    cursor: default;
}
