/* this will get overwritten on load */
body {
    display: none;
}

html.minial-youtube,
html.minial-youtube body {
    height: 100vh;
}

html.minial-youtube .home-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

html.minial-youtube .search-input {
    padding: 8px;
    min-width: 250px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

html.minial-youtube .search-btn {
    border: none;
    height: 40px;
    cursor: pointer;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 0 16px;
    transition: background 100ms ease-in-out;
}

html.minial-youtube .search-icon-container {
    height: 24px;
    width: 24px;
}

@media (prefers-color-scheme: dark) {
    html.minial-youtube .logo {
        color: white;
        fill: white;
    }

    html.minial-youtube .search-input {
        border: 1px solid rgb(48, 48, 48);
        background: rgb(18, 18, 18);
        color: white;
    }

    html.minial-youtube .search-btn {
        background: rgba(255, 255, 255, 0.08);
    }

    html.minial-youtube .search-icon-container {
        color: white;
        fill: white;
    }
}

@media (prefers-color-scheme: light) {
    html.minial-youtube .search-input {
        border: 1px solid rgb(204, 204, 204);
    }

    html.minial-youtube .search-btn {
        background: rgb(248, 248, 248);
        border: 1px solid rgb(211, 211, 211);
        border-left: none;
    }

    html.minial-youtube .search-btn:hover {
        background: rgb(240, 240, 240);
        border: 1px solid rgb(198, 198, 198);
        border-left: none;
    }
}

html.minial-youtube .logo {
    width: 200px;
}

html.minial-youtube .search-input:focus {
    outline: none;
    border: 1px solid rgb(28, 98, 185);
}

html.minial-youtube .search-group {
    height: 40px;
    display: flex;
}

html.minial-youtube #columns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

html.minial-youtube #columns #secondary {
    display: none;
}

html.minial-youtube #columns #primary {
    max-width: fit-content;
}

html.minial-youtube #top-level-buttons-computed,
html.minial-youtube #voice-search-button,
html.minial-youtube ytd-mini-guide-renderer,
html.minial-youtube #related,
html.minial-youtube tp-yt-app-drawer,
html.minial-youtube .ytd-masthead #buttons,
html.minial-youtube #guide-button,
html.minial-youtube [class="style-scope ytd-comments"] {
    display: none !important;
}

html.minial-youtube #page-manager {
    margin-left: 0 !important;
}

html.minial-youtube .ytp-chrome-bottom {
    width: calc(98%) !important;
}

html.minial-youtube ytd-app[mini-guide-visible] ytd-page-manager.ytd-app {
    margin-left: 0 !important;
}

html.minial-youtube ytd-watch-flexy:not([theater]):not([fullscreen]) .html5-video-container,
html.minial-youtube ytd-watch-flexy:not([theater]):not([fullscreen]) video {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
}

html.minial-youtube ytd-playlist-sidebar-renderer {
    left: 0 !important;
}