/* this will get overwritten on load */
body {
    display: none;
}

html,
body {
    height: 100vh;
}

.home-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.search-input {
    padding: 8px;
    min-width: 250px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.search-btn {
    border: none;
    height: 40px;
    cursor: pointer;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 0 16px;
    transition: background 100ms ease-in-out;
}

.search-icon-container {
    height: 24px;
    width: 24px;
}

@media (prefers-color-scheme: dark) {
    .logo {
        color: white;
        fill: white;
    }

    .search-input {
        border: 1px solid rgb(48, 48, 48);
        background: rgb(18, 18, 18);
        color: white;
    }

    .search-btn {
        background: rgba(255, 255, 255, 0.08);
    }

    .search-icon-container {
        color: white;
        fill: white;
    }
}

@media (prefers-color-scheme: light) {
    .search-input {
        border: 1px solid rgb(204, 204, 204);
    }

    .search-btn {
        background: rgb(248, 248, 248);
        border: 1px solid rgb(211, 211, 211);
        border-left: none;
    }

    .search-btn:hover {
        background: rgb(240, 240, 240);
        border: 1px solid rgb(198, 198, 198);
        border-left: none;
    }
}

.logo {
    width: 200px;
}

.search-input:focus {
    outline: none;
    border: 1px solid rgb(28, 98, 185);
}

.search-group {
    height: 40px;
    display: flex;
}

#columns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#columns #secondary {
    display: none;
}

/* code to show playlist panel when it is a video from a playlist */
#columns #secondary #secondary-inner > * {
    display: none;
}

#columns #secondary #secondary-inner > #playlist {
    display: block;
}

#columns #secondary:has(ytd-playlist-panel-video-renderer) { 
    display: flex;
}

#columns.ytd-watch-flexy:has(ytd-playlist-panel-video-renderer) {
    align-items: flex-start;
}
/* code to show playlist panel when is a video from a playlist */

#columns #primary {
    max-width: fit-content;
}

#top-level-buttons-computed,
#voice-search-button,
ytd-mini-guide-renderer,
#related,
tp-yt-app-drawer,
.ytd-masthead #buttons,
#guide-button,
[class="style-scope ytd-comments"] {
    display: none !important;
}

#page-manager {
    margin-left: 0 !important;
}

.ytp-chrome-bottom {
    width: calc(98%) !important;
}

ytd-app[mini-guide-visible] ytd-page-manager.ytd-app {
    margin-left: 0 !important;
}

ytd-watch-flexy:not([theater]):not([fullscreen]) .html5-video-container,
ytd-watch-flexy:not([theater]):not([fullscreen]) video {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
}

ytd-playlist-sidebar-renderer {
    left: 0 !important;
}